<div id="artpage" class="slide-right" ng-init="ngLoaded = true" ng-class="{'in': ngLoaded}">
   <div class="container">
       <div class="page-header redtext art-title" ng-click="back()">
           <h2>
             << Art Portfolio
           </h2>  
       </div>
       <div class="row center">
           <div ng-repeat="piece in pieces" class="col-md-3 portfolio-entry">
           <img class="thumb" src="{{piece.thumbnail}}" width="200" data-toggle="modal" data-target="#artModal{{$index}}"  ng-click="reset()">
               
            <div class="modal fade center" id="artModal{{$index}}" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content modal-lg cream">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title redtext">{{piece.name}}</h3>
                        </div>
                        <div class="modal-body redtext">
                            <div class="row">
                                <div class="col-md-1 arrow" ng-click="picBack(piece)">
                                     <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-10">
                                    <img ng-src="{{piece.images[index]}}" width="500">
                                    <div ng-show="{{piece.has_video}}">
                                         <video id="artVideo" width="512" controls>
                                            <source src="{{piece.video}}" type="video/mp4">
                                             Your browser does not support the video tag.
                                        </video> 
                                    </div>
                                </div>
                                <div class="col-md-1 arrow" ng-click="picForward(piece)">
                                     <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer myFont">
                            <h5 class="redtext left">
                                {{piece.date}}
                            </h5>
                            <p class="left">
                                {{piece.description}}
                            </p>
                        </div>
                    </div>
                </div>
           </div>
           </div>
       </div>
    </div>
    <!-- script for disabling the video when the modal is exited-->
    <script>
        $('body').on('hidden.bs.modal', '.modal', function () {
            $('video').trigger('pause');
        });</script>
</div>