input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.cream {
    background-color: #FFF8EB !important;
} 

.red {
    background-color: #e0301e !important;
}

.orange {
    background-color: #ff8d00 !important;
}

.creamtext {
    color: #FFF8EB !important;
}

.redtext {
    color: #e0301e !important;
}

.orangetext {
    color: #ff8d00 !important;
}

.myFont {
    font-family: 'Oswald', sans-serif;
}

a {
    color: #e0301e !important;
}

h1 {
    font-family: 'Oswald', sans-serif !important;
}

h2 {
    font-family: 'Oswald', sans-serif !important;
}

h3 {
    font-family: 'Oswald', sans-serif !important;
}

#front_buttons {
    margin-top: 50px;
    margin-bottom: 100px;
}

#header {

}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.btn-custom {
    background: #e0301e !important;
    color: #FFF8EB !important;
    font-size: 40px !important;
    font-family: 'Oswald', sans-serif !important;
}
.btn-custom:hover{
    background:  #ff8d00 !important;
}

.btn-custom:focus{
    outline: none !important;
}
