input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.cream {
    background-color: #FFF8EB !important;
} 

.red {
    background-color: #e0301e !important;
}

.orange {
    background-color: #ff8d00 !important;
}

.creamtext {
    color: #FFF8EB !important;
}

.redtext {
    color: #e0301e !important;
}

.orangetext {
    color: #ff8d00 !important;
}

.myFont {
    font-family: 'Oswald', sans-serif;
}

a {
    color: #e0301e !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif !important;
}

#front_buttons {
    margin-top: 50px;
    margin-bottom: 100px;
}

#header {

}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.btn-custom {
    background: #e0301e !important;
    color: #FFF8EB !important;
    font-size: 40px !important;
    font-family: 'Oswald', sans-serif !important;
}
.btn-custom:hover{
    background:  #ff8d00 !important;
}

.btn-custom:focus{
    outline: none !important;
}

.start-fade {
    opacity: 0;
    transition: all 1s ease-in-out;
}
.start-fade.in {
    opacity: 1;
}

.slide-left {
    opacity: 0;
    transition: all 1s ease-in-out;
}
.slide-left.in {
    opacity: 1;
}

.slide-right {
    opacity: 0;
    transition: all 1s ease-in-out;
}
.slide-right.in {
    opacity: 1;
}

.thumb{
    transition: all 200ms ease-in-out;
}
.thumb:hover{
    filter: brightness(50%);
}

.prog-title{
    transition: all 200ms ease-in-out;
}
.prog-title:hover{
    margin-left:40px;
    color:  #9d2215 !important;
}

.art-title{
    transition: all 200ms ease-in-out;
}
.art-title:hover{
    margin-left:40px;
    color:  #9d2215 !important;
}

.arrow{
    transition: all 100ms ease-in-out;
    vertical-align: text-bottom;
    font-size: 50px;
}
.arrow:hover{
    color:  #9d2215 !important;
}

#programmingpage {
    transition: all 1s ease-in-out;
}

